modules = ["python-3.12"]

[nix]
channel = "stable-25_05"
packages = ["gmp"]

[workflows]
runButton = "Run BridgeX"

[[workflows.workflow]]
name = "Run BridgeX"
author = 45072445
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd BridgeX_functions && python app.py"

[[ports]]
localPort = 1234
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001
